<div class="row">
  <div class="large-9 columns note">
    <div class="whitebox">
      <div><input type="text" value="{{title}}" class="note-title" placeholder="Title..."/></div>
      <div><textarea class="note-content" placeholder="Content...">{{content}}</textarea></div>
      <div class="btns">
        <a class="button save-btn">Save</a>
        <a class="button alert del-btn">Delete</a>
      </div>
    </div>
  </div>
</div>
