<div class="row">

  <div class="row">
    <h2 class="notebook-title"></h2>
  </div>

  <div class="row">
    <a id="add-note-link" class="button">New Note</a>
  </div>

  <div class="row note-list">

  </div>
</div>
