<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotEd</title>
    <link rel="stylesheet" href="/public/components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/public/components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons.css" />
    <script src="/public/components/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="/public/css/sass/stylesheets/screen.css" />
  </head>
  <body>
    

<!-- Navigation -->
 <nav class="top-bar large-12 columns" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a id="app-name" href="#">
            NotEd
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </section>
  </nav>
  <!-- End Top Bar -->

  <!-- Header -->
  <div class="row" id="main-content">

  </div>

  <!-- End Header -->

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
        <div class="row">

          <div>
              <p>&copy; Copyright Eduardo Sorribas 2014</p>
          </div>

        </div>
    </div>
  </footer>

    <div id="modal" class="reveal-modal" data-reveal>
    </div>

    <script src="/public/components/jquery/dist/jquery.js"></script>
    <script src="/public/components/jquery-typing/plugin/jquery.typing-0.2.0.min.js"></script>
    <script src="/public/components/jquery-autosize/jquery.autosize.min.js"></script>
    <script src="/public/components/foundation/js/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    <script src="/public/js/bundle.js"></script>

  </body>
</html>
