<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotEd</title>
    <link rel="stylesheet" href="/public/components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/public/css/sass/stylesheets/screen.css" />
    <script src="/public/components/modernizr/modernizr.js"></script>
  </head>
  <body class="login">
      


   
    <!-- End Top Bar -->

    <!-- Header -->
    <div class="row">
      <div class="large-12 columns">
        <div class="logo-large">
        </div>
      </div>
      <div class="large-12 columns login">
        <h3>Login</h3>
        <form action="/login" method="POST">
          <input type="text" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password"/>
          <input type="submit" class="button" value="Login" />
          <a class="showregister"> or REGISTER</a>
        </form>
      </div>
      <div class="large-12 columns signup hidden">
        <h3>Create account</h3>
        <form action="/register" method="POST">
          <input type="text" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password"/>
          <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
          <input type="submit" class="button" value="Register" />
          <a class="showlogin"> or LOGIN</a>
        </form>
      </div>

    </div>

    <!-- End Header -->

    <!-- Footer -->

    <footer class="row">
    <div class="large-12 columns">
        <div class="row">

        </div>
    </div>
    </footer>


    <script src="/public/components/jquery/dist/jquery.js"></script>
    <script src="/public/components/foundation/js/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);

      $(document).ready(function(){
        $('.showregister').click(function(){
          $('.login .login').hide();
          $('.signup').fadeIn(500);
        });

        $('.showlogin').click(function(){
          $('.signup').hide();
          $('.login .login').fadeIn(500);
        });
      });
    </script>
  </body>
</html>
