/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);


/*reset foundation css */

.row .row{
  margin:0;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  box-shadow: none;
  font-size: 1.3rem;
  padding: 25px;
  border: #999 1px solid;
  font-family: "Source Sans Pro";
  font-weight: 400;
  &:focus{
    background: #fff;
    box-shadow: none;
    border: #000;
    border: #000 1px solid;
  }
  &::-webkit-input-placeholder {
     color: #666;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: #666;  
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     color: #666;  
  }
  &:-ms-input-placeholder {  
     color: #666;  
  }
}

.button{
  background: none;
  border: 1px solid #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: none;
  float: right;
  &:hover, &:focus{
    background: #fff;
    color: #333;
  }
}

/* login page */
.login{
  .logo-large{
    max-width: 300px;
    width: 300px;
    height: 460px;
    margin: 0 auto;
    background: url(../../../img/noted_logo.png) center top no-repeat;
  }
  .login, .signup{
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
    float: none !important;
  }
  h3{
    display: none;
  }
  input{
    background: #fff;
    border-color: #fff;
    transition: none;
    color: #333;
    &::-webkit-input-placeholder {
       color: #333;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: #333;  
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: #333;  
    }
    &:-ms-input-placeholder {  
       color: #333;  
    }
    &:focus{
      background-color: #333;
      color: #fff;
      border-color: #333;
    }
  }
  .button{
    float: none;
  }
  .showregister{
    clear: both;
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
    padding-left: 20px;
    &:hover{
      color: #000;
    }
  }
}
.hidden{
  display:none;
}
/* Base CSS */


html{
  background: url("../../../img/noted_bg4.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}

body {
  font-family: "Source Sans Pro",Helvetica, Arial, sans-serif;
  background: none; /*reset foundation css */
  font-weight:400;
  color: #333;
}


h1, h2, h3, h4, h5{
  font-weight: 900;
  letter-spacing:0.2em;
  color: #fff;
  text-transform: uppercase;
}
h1{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
  padding: 10px 0;
}

h2{
  font-size:2.5rem;
  line-height: 4.2rem;
  color: #fff;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  margin: 20px 0;
}

/* notebooks, note page */

.title-area{
  position: fixed;
  left: 0;
  top: 20%;
  padding: 10px;
  background: #fff;
  a#app-name{
    width: 40px;
    height: 40px;
    background:#fff url(../../../img/logo.png) top center;
    overflow: hidden;
    display: block;
    &:hover{
      background-position: bottom center;
    }
  }
}

[class*="column"] + [class*="column"]:last-child {
  float: left;
}

#main-content{
  min-height: 400px;
  & > .row{
    padding: 0 10px;
  }  
}



.remove-notebook, .remove-note{
  display:none;
  position: absolute;
  top: 10px;
  right: 5%;
  z-index:100;
}
.notebook .whitebox{
  height: 130px;
  display: table;
  width: 100%;
  h3{
    display: table-cell; 
    vertical-align: middle; 
    position: relative;
  }
  
}

.notebook.column, .notebook.columns{
  padding: 5px;
}

.note .whitebox{
  background: rgba(255, 255, 255, 0.9);
}

.whitebox{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 10%;
  margin-bottom: 1px;
  h3{
    color: #333;
    font-size: 1.1rem;
    padding: 0;
  }
  &:hover .remove-notebook{
    display: inline;
  }
  &:hover{
    background: rgba(255, 255, 255, 1)
  }
  .note-content, .note-title{
    border: none;
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
    &:not(:focus){
      background: none;
    }
  }
  .note-title{
    font-weight: 900;
    font-size:1.2em;
  }
}

.note-list > div{
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  .note.columns{
    margin-bottom: 20px;
    padding: 0;
  }
}

footer.row{
  margin-top: 20px;
  p{
  color: #fff;
  margin: 0;
  border-top: #fff solid 1px;
  padding-top: 10px;
  }
}

#modal{
  input:not(.focus){
    background: none;
  }
  .button{
    color: #333;
    border-color: #333;
    &:hover, &:focus{
      color: #fff;
      background-color: #333;
    }
  }
  h2{
  color: #333;
  }
}




/* note autosave */
.loader {
  display: none;
}

.note-saved {
  display: none;
}


