@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*reset foundation css */
/* line 12, ../sass/screen.scss */
.row .row {
  margin: 0;
}

/* line 16, ../sass/screen.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  box-shadow: none;
  font-size: 1rem;
  padding: 5px;
}

/* line 22, ../sass/screen.scss */
.button {
  background: none;
  border: 1px solid #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: none;
  float: right;
}
/* line 30, ../sass/screen.scss */
.button:hover {
  background: #333;
  border-color: #333;
}

/* login page */
/* line 38, ../sass/screen.scss */
.login, .signup {
  padding: 80px 4% 20px;
}

/* Base CSS */
/* line 45, ../sass/screen.scss */
html {
  background: url("../../../img/noted_bg4.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}

/* line 54, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro",Helvetica, Arial, sans-serif;
  background: none;
  /*reset foundation css */
  font-weight: 400;
  color: #333;
}

/* line 62, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}

/* line 68, ../sass/screen.scss */
h1 {
  font-size: 3rem;
}

/* line 72, ../sass/screen.scss */
h3 {
  font-size: 2rem;
  padding: 10px 0;
}

/* line 77, ../sass/screen.scss */
h2 {
  font-size: 2.5rem;
  line-height: 4.2rem;
  color: #fff;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  margin: 20px 0;
}

/* notebooks, note page */
/* line 88, ../sass/screen.scss */
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* line 92, ../sass/screen.scss */
#main-content {
  min-height: 400px;
}

/* line 96, ../sass/screen.scss */
.row {
  padding: 0 10px;
}

/* line 100, ../sass/screen.scss */
.remove-notebook, .remove-note {
  display: none;
  position: absolute;
  top: 10px;
  right: 5%;
  z-index: 100;
}

/* line 107, ../sass/screen.scss */
.notebook .whitebox {
  height: 150px;
  display: table;
  width: 100%;
}
/* line 111, ../sass/screen.scss */
.notebook .whitebox h3 {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 119, ../sass/screen.scss */
.notebook.column, .notebook.columns {
  padding: 1px;
}

/* line 123, ../sass/screen.scss */
.whitebox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 10%;
  margin-bottom: 1px;
}
/* line 127, ../sass/screen.scss */
.whitebox h3 {
  color: #333;
  font-size: 1.1rem;
  padding: 0;
}
/* line 132, ../sass/screen.scss */
.whitebox:hover .remove-notebook {
  display: inline;
}
/* line 135, ../sass/screen.scss */
.whitebox:hover {
  background: white;
}
/* line 138, ../sass/screen.scss */
.whitebox .note-content, .whitebox .note-title {
  border: none;
  box-shadow: none;
}
/* line 141, ../sass/screen.scss */
.whitebox .note-content:focus, .whitebox .note-title:focus {
  box-shadow: none;
}
/* line 144, ../sass/screen.scss */
.whitebox .note-content:not(:focus), .whitebox .note-title:not(:focus) {
  background: none;
}
/* line 148, ../sass/screen.scss */
.whitebox .note-title {
  font-weight: 900;
  font-size: 1.2em;
}

/* line 154, ../sass/screen.scss */
.note-list > div {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 161, ../sass/screen.scss */
footer p {
  color: #fff;
  margin: 0;
  border-top: #fff solid 1px;
  padding-top: 10px;
}

/* line 170, ../sass/screen.scss */
#modal input:not(.focus) {
  background: none;
}
/* line 173, ../sass/screen.scss */
#modal .button {
  color: #333;
  border-color: #333;
}
/* line 176, ../sass/screen.scss */
#modal .button:hover {
  color: #fff;
}
/* line 180, ../sass/screen.scss */
#modal h2 {
  color: #333;
}

/* note autosave */
/* line 189, ../sass/screen.scss */
.loader {
  display: none;
}

/* line 193, ../sass/screen.scss */
.note-saved {
  display: none;
}
