@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*reset foundation css */
/* line 12, ../sass/screen.scss */
.row .row {
  margin: 0;
}

/* line 16, ../sass/screen.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  box-shadow: none;
  font-size: 1.2rem;
  padding: 25px;
  border: #999 1px solid;
  font-family: "Source Sans Pro";
  font-weight: 400;
}
/* line 23, ../sass/screen.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: #fff;
  box-shadow: none;
  border: #000;
  border: #000 1px solid;
}
/* line 29, ../sass/screen.scss */
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
}
/* line 32, ../sass/screen.scss */
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}
/* line 35, ../sass/screen.scss */
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}
/* line 38, ../sass/screen.scss */
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
}

/* line 43, ../sass/screen.scss */
.button {
  background: none;
  border: 1px solid #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: none;
  float: right;
}
/* line 51, ../sass/screen.scss */
.button:hover, .button:focus {
  background: #fff;
  color: #333;
}

/* login page */
/* line 59, ../sass/screen.scss */
.login .logo-large {
  padding-top: 40px;
  max-width: 300px;
  width: 300px;
  height: 460px;
  margin: 0 auto;
  background: url(../../../img/noted_logo.png) center top no-repeat;
}
/* line 67, ../sass/screen.scss */
.login .login, .login .signup {
  width: 380px;
  max-width: 100%;
  margin: 0 auto;
  float: none !important;
}
/* line 73, ../sass/screen.scss */
.login h3 {
  display: none;
}
/* line 76, ../sass/screen.scss */
.login input {
  background: #fff;
  border-color: #fff;
  transition: none;
  color: #333;
}
/* line 81, ../sass/screen.scss */
.login input::-webkit-input-placeholder {
  color: #333;
}
/* line 84, ../sass/screen.scss */
.login input:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}
/* line 87, ../sass/screen.scss */
.login input::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}
/* line 90, ../sass/screen.scss */
.login input:-ms-input-placeholder {
  color: #333;
}
/* line 93, ../sass/screen.scss */
.login input:focus {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
/* line 99, ../sass/screen.scss */
.login .button {
  float: none;
}
/* line 102, ../sass/screen.scss */
.login .showregister, .login .showlogin {
  clear: both;
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 20px;
}
/* line 108, ../sass/screen.scss */
.login .showregister:hover, .login .showlogin:hover {
  color: #000;
}

/* line 113, ../sass/screen.scss */
.hidden {
  display: none;
}

/* Base CSS */
/* line 119, ../sass/screen.scss */
html {
  background: url("../../../img/noted_bg4.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}

/* line 128, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro",Helvetica, Arial, sans-serif;
  background: none;
  /*reset foundation css */
  font-weight: 400;
  color: #333;
}

/* line 136, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}

/* line 142, ../sass/screen.scss */
h1 {
  font-size: 3rem;
}

/* line 146, ../sass/screen.scss */
h3 {
  font-size: 2rem;
  padding: 10px 0;
}

/* line 151, ../sass/screen.scss */
h2 {
  font-size: 2.5rem;
  line-height: 4.2rem;
  color: #fff;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  margin: 20px 0;
}

/* notebooks, note page */
/* line 162, ../sass/screen.scss */
.title-area {
  position: fixed;
  left: 0;
  top: 20%;
  padding: 10px;
  background: #fff;
}
/* line 168, ../sass/screen.scss */
.title-area a#app-name {
  width: 40px;
  height: 40px;
  background: white url(../../../img/logo.png) top center;
  overflow: hidden;
  display: block;
}
/* line 174, ../sass/screen.scss */
.title-area a#app-name:hover {
  background-position: bottom center;
}

/* line 180, ../sass/screen.scss */
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* line 184, ../sass/screen.scss */
#main-content {
  min-height: 400px;
}
/* line 186, ../sass/screen.scss */
#main-content > .row {
  padding: 0 10px;
}

/* line 193, ../sass/screen.scss */
.remove-notebook, .remove-note {
  display: none;
  position: absolute;
  top: 10px;
  right: 5%;
  z-index: 100;
}

/* line 200, ../sass/screen.scss */
.notebook .whitebox {
  height: 130px;
  display: table;
  width: 100%;
}
/* line 204, ../sass/screen.scss */
.notebook .whitebox h3 {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 212, ../sass/screen.scss */
.notebook.column, .notebook.columns {
  padding: 5px;
}

/* line 216, ../sass/screen.scss */
.note .whitebox {
  background: rgba(255, 255, 255, 0.9);
}

/* line 220, ../sass/screen.scss */
.whitebox {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 10%;
  margin-bottom: 1px;
}
/* line 224, ../sass/screen.scss */
.whitebox h3 {
  color: #333;
  font-size: 1.1rem;
  padding: 0;
}
/* line 229, ../sass/screen.scss */
.whitebox:hover .remove-notebook {
  display: inline;
}
/* line 232, ../sass/screen.scss */
.whitebox:hover {
  background: white;
}
/* line 235, ../sass/screen.scss */
.whitebox .note-content, .whitebox .note-title {
  border: none;
  box-shadow: none;
}
/* line 238, ../sass/screen.scss */
.whitebox .note-content:focus, .whitebox .note-title:focus {
  box-shadow: none;
  border: none;
}
/* line 242, ../sass/screen.scss */
.whitebox .note-content:not(:focus), .whitebox .note-title:not(:focus) {
  background: none;
}
/* line 246, ../sass/screen.scss */
.whitebox .note-title {
  font-weight: 900;
  font-size: 1.2em;
}

/* line 252, ../sass/screen.scss */
.note-list > div {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
/* line 256, ../sass/screen.scss */
.note-list > div .note.columns {
  margin-bottom: 20px;
  padding: 0;
}

/* line 262, ../sass/screen.scss */
footer.row {
  margin-top: 20px;
}
/* line 264, ../sass/screen.scss */
footer.row p {
  color: #fff;
  margin: 0;
  border-top: #fff solid 1px;
  padding-top: 10px;
}

/* line 273, ../sass/screen.scss */
#modal input:not(.focus) {
  background: none;
}
/* line 276, ../sass/screen.scss */
#modal .button {
  color: #333;
  border-color: #333;
}
/* line 279, ../sass/screen.scss */
#modal .button:hover, #modal .button:focus {
  color: #fff;
  background-color: #333;
}
/* line 284, ../sass/screen.scss */
#modal h2 {
  color: #333;
}

/* note autosave */
/* line 293, ../sass/screen.scss */
.loader {
  display: none;
}

/* line 297, ../sass/screen.scss */
.note-saved {
  display: none;
}
